body {
  margin: 0;
  background-color: beige;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 50px 1fr 70px 3fr 500px 50px; */
  grid-auto-rows: minmax(50px, max-content);
  grid-template-areas:
    "nav nav nav nav"
    "img img img img"
    "toe toe toe toe"
    "eco eco eco eco"
    "des des des des"
    "ft ft ft ft";
}

.navbar {
  margin-bottom: 5px;
  grid-area: nav;
  box-shadow: 0 1px 3px 0 grey;
}

.image {
  width: 100%;
  height: 300px;
  grid-area: img;
}

.header {
  grid-area: img;
}

.flex {
  /* display: flex; */
  width: 100%;
}

.list {
  display: flex;
  list-style-type: none;
  padding-left: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

li {
  padding-left: 20px;
  padding-right: 20px;
}

.fb {
  margin-left: auto;
}

.fab {
  color: blue;
}

.fab.fa-twitter {
  color: rgb(29, 155, 240);
}

.fab.fa-instagram {
  color: brown;
  font-weight: bold;
}

.fab:hover {
  color: grey;
}

.toe {
  grid-area: toe;
  text-align: center;
  color: brown;
}

.container {
  padding: 30px 30px 0;
  grid-area: eco;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 75px;
  margin: 50px;
  justify-content: space-evenly;
  box-shadow: 0 2px 3px 0 grey;
}

.eco {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 350px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

h3 {
  text-align: center;
}

.reason-of-restoration {
  grid-area: des;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.restoration {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 0 grey;
}

section {
  margin-top: 10px;
  border: burlywood 2px solid;
  box-shadow: 0 2px 3px 0 burlywood;
}

footer {
  grid-area: ft;
  color: beige;
  background-color: black;
  text-align: center;
  padding-top: 15px;
}
.fab.fa-pagelines {
  color: green;
  font-size: large;
  font-weight: bold;
}

@media (max-width: 320px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 40px 550px 40px 3fr 1fr 50px; */
    grid-auto-rows: minmax(50px, max-content);
    grid-template-areas:
      "nav"
      "img"
      "toe"
      "eco"
      "des"
      "ft";
  }

  .container {
    padding: 30px 30px 0;
    grid-area: eco;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .eco {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    width: 300px;
    height: 350px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  h3 {
    text-align: center;
  }

  .reason-of-restoration {
    grid-area: des;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 500px 40px 3fr 530px 50px;
    grid-template-areas:
      "nav"
      "img"
      "toe"
      "eco"
      "des"
      "ft";
  }

  .container {
    padding: 30px 30px 0;
    grid-area: eco;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}
